@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.main div {
  box-sizing: border-box;
  min-height: 100px;
  min-width: 100px;
}

.c1 {
  color: #ddd;
  background-color: #003476;
}

.c2 {
  color: #ddd;
  background-color: #0062d2;
}

.c3 {
  color: #333;
  background-color: #b4d2f7;
}

.c4 {
  color: #333;
  background-color: #6698e8;
}

.c5 {
  color: #333;
  background-color: #dfe1e5;
}

.c6 {
  color: #333;
  background-color: #c58ccc;
}

.c7 {
  color: #333;
  background-color: #c35533;
}

.c8 {
  color: #333;
  background-color: #739a48;
}

.c9 {
  color: #333;
  background-color: #484a9a;
}

.c10 {
  color: #333;
  background-color: #8f8b90;
}

.c11 {
  color: #333;
  background-color: #80328a;
}

.c12 {
  color: #333;
  background-color: #6e8a32;
}

.c13 {
  color: #333;
  background-color: #c16b27;
}

.c14 {
  color: #333;
  background-color: #c12727;
}

.c14 {
  color: #333;
  background-color: #8c8bb7;
}

.c15 {
  color: #333;
  background-color: #45c6e8;
}

.c16 {
  color: #333;
  background-color: #454de8;
}

.c17 {
  color: #333;
  background-color: #b545e8;
}

.c18 {
  color: #333;
  background-color: #e8459b;
}

.c19 {
  color: #333;
  background-color: #a6d409;
}

.c20 {
  color: #333;
  background-color: #0062d2;
}

.c21 {
  color: #333;
  background-color: #a02121;
}
