<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login_Practice</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="form-wrapper" id="app">
      <img src="https://i.imgur.com/iqskGqe.jpg" alt="bg1" />
      <div class="content-wrapper" id="content-signin">
        <h1>Hello!</h1>
        <form class="form-login" v-on:submit="check">
          <input
            v-model="inputId"
            ref="inputId"
            type="text"
            name="username"
            placeholder="Username"
            class="input-username"
            v-bind:class="{error : inputIdError}"
            id="input-username"
            autocomplete="off"
          />
          <p class="error_txt">{{inputIdErrorMsg}}</p>
          <input
            v-model="inputPwd"
            ref="inputPwd"
            type="password"
            name="password"
            placeholder="Password"
            class="input-password"
            v-bind:class="{error : inputPwdError}"
            id="input-password"
            autocomplete="off"
          />
          <p class="error_txt">{{inputPwdErrorMsg}}</p>
          <div class="custom-checkbox">
            <input v-model="inputChk" type="checkbox" id="id-checkbox" />
            <label for="id-checkbox">아이디 저장</label>
          </div>
          <button type="submit" class="btn-login">LOGIN</button>
        </form>
        <p>No account? <a href="#app">Sign up</a></p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          inputId: "",
          inputIdError: false,
          inputIdErrorMsg: "",
          inputPwd: "",
          inputPwdError: false,
          inputPwdErrorMsg: "",
          inputChk: false,
        },
        // watch는 실시간으로 원하는 데이터의 값을 확인해 줌
        watch: {
          // 값이 들어올시 바로 Error 제거
          inputId: function (val) {
            if (this.inputId.trim() !== "") {
              this.inputIdError = false;
            }
          },
          inputPwd: function (val) {
            if (this.inputPwd.trim() !== "") {
              this.inputPwdError = false;
            }
          },
        },
        // Vue가 사용자에게 보여지기 전에 한번만 실행되는 코드
        mounted() {
          console.log(localStorage.getItem("Id"));
          // 로컬저장소 id에 값이 있을경우 저장된 id 값을 미리 출력해주고 아이디 저장에 체크해줌
          if (localStorage.getItem("Id") !== null) {
            this.inputId = localStorage.getItem("Id"); // local 저장소에 값이 있을 경우 값을 미리 보여줌
            this.inputChk = true;
          } else {
            this.inputChk = false;
          }
        },
        methods: {
          check(e) {
            e.preventDefault(); // submit의 전송을 막아 줌

            // trim() 메서드는 양 옆에 공백을 제외한 문자열을 출력해줌
            // 사용자가 id 입력을 안했을 시 에러 발생하고 값을 입력하면 에러를 다시 없애 줌
            // Error 메세지를 커스터마이징 해보기
            // 그래서 사용자 편의를 위해 id 입력 칸에 커서 자동으로 깜박이게 설정
            // 사용자가 id 입력을 안했다가 입력하는 즉시 에러를 없애고 싶음 => watch 사용
            // 아이디를 저장을 체크하였을 경우 나중에 들어왔을 때 바로 비밀번호만 입력하고 싶음 => localStorage와 mounted 사용
            if (this.inputId.trim() === "") {
              this.inputIdError = true; // inputIdError가 true로 바뀌면서 v-bind:class="{error : inputIdError}" 에 있는 error가 클래스로 들어가면서 input-username error를 발생시킴. 그래서 css로 연결해서 표현
              this.$refs.inputId.focus(); // $refs는 전역변수로 정의되어있음(Vue자체에서), 원하는 데이터 값속성, focus() 함수 사용
              this.inputIdErrorMsg = "커스텀 아이디 입력";
              return;
            }
            this.inputIdError = false; // if문을 통과하여 들어온 것이므로 다시 inputIdError의 값을 false로 하여 error를 없애줌

            if (this.inputPwd.trim() === "") {
              this.inputPwdError = true;
              this.$refs.inputPwd.focus();
              this.inputPwdErrorMsg = "커스텀 비밀번호 입력";
              return;
            }
            this.inputPwdError = false;

            if (this.inputChk) {
              localStorage.setItem("Id", this.inputId); // localStorage는 로컬저장소에 저장되는 공간임 그래서 속성인 setItem("키", 값)을 입력해주면 됨
            } else {
              localStorage.removeItem("Id", this.inputId); // remove를 이용하여 아이디 저장을 체크 안했을 경우 저장되어 있던 정보를 지움
            }
            console.log(this.inputChk);
            console.log(this.inputId);
            console.log(this.inputPwd);
          },
        },
      });
    </script>
  </body>
</html>
