<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div id="app">
      <wrapper-login v-bind:item="searchKeyword"></wrapper-login>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      Vue.component("wrapper-login", {
        template: `
        <div id=wrapper-login>
            
            <div class="content-wrapper" id="content-signin">
                <h1>Hello!</h1>
                <form class="form-login">
                    <input v-model=item type="text" @keyup.enter="search" name="username" placeholder="Username" class="input-username" id="input-username" autocomplete="off" />
                    <input v-model=item type="password" @keyup.enter="search" name="password" placeholder="Password" class="input-password" id="input-password"  autocomplete="off"/>
                    <button v-on:click="search">LOGIN</button>
                </form>
                <p>No account? <a href="#wrapper-signup">Sign up</a></p>
            </div>
        </div>
        `,
        props: ["item"],
      });
      new Vue({
        el: "#app",
        data: {
          searchKeyword: "",
        },
        methods: {
          search() {
            console.log("search start ... " + this.searchKeyword);
          },
        },
      });
    </script>
  </body>
</html>
